body {
    background-color: grey;
    margin: 0px;
    padding: 0px;
}


.conteinar {
 
    margin: auto;
}

img {
    width: 900px;
padding-left:300px ;
}




button {
    border-radius: 10px;
    border: none;
    background-color: rgb(162, 121, 222);
    transition: 0.5s;
    padding: 5px;
    color: rgb(0, 0, 0);
 margin-left:700px;
 padding: 9px;
   
}

button:hover {
    background-color: rgb(251, 249, 255);

}



form input,
textarea
 {
    display: block;
    margin: auto ;
   padding: 10px 10px;
   background-color: #e3e2db;
border: none;
   width: 40vh;
}

.mm{
padding: 10px;
/* background-color: blue; */
height: 90%;


}

textarea{
margin-bottom: 20px;
color: blue;

}

