body{
padding: 0;
margin: 0;

background-color: bisque;
}


.container{
margin: auto;
width: 80%;
}

img{
padding-left: 130px;
width: 80%;
}

.bp{
width: 900px;
height: 80px;
background-color: rgb(0, 0, 0);
text-align: center;
margin-left: 320px;
color: bisque;
font-size: 20px;
}