body{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: burlywood;
}

img{
width: 50%;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
padding-left: 350px;
}